<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.net/NetTiersMap.xsd">
	<Table Id="tblDonHang" EntityName="DonHang" Owner="dbo" PropertyName="DonHang" FieldName="_donHang" FriendlyName="Don Hang" IncludeInOutput="true">
		<Column Id="MaDonHang" CSType="System.Int32" PropertyName="MaDonHang" FieldName="_maDonHang" FriendlyName="Ma Don Hang" IncludeInOutput="true" />
		<Column Id="MaKhachHang" CSType="System.Int32?" PropertyName="MaKhachHang" FieldName="_maKhachHang" FriendlyName="Ma Khach Hang" IncludeInOutput="true" />
		<Column Id="MaNguonDonHang" CSType="System.Int32?" PropertyName="MaNguonDonHang" FieldName="_maNguonDonHang" FriendlyName="Ma Nguon Don Hang" IncludeInOutput="true" />
		<Column Id="MaTrangThaiDonHang" CSType="System.Int32?" PropertyName="MaTrangThaiDonHang" FieldName="_maTrangThaiDonHang" FriendlyName="Ma Trang Thai Don Hang" IncludeInOutput="true" />
		<Column Id="NguoiDatHang" CSType="System.String" PropertyName="NguoiDatHang" FieldName="_nguoiDatHang" FriendlyName="Nguoi Dat Hang" IncludeInOutput="true" />
		<Column Id="MaPhuongThucThanhToan" CSType="System.Int32?" PropertyName="MaPhuongThucThanhToan" FieldName="_maPhuongThucThanhToan" FriendlyName="Ma Phuong Thuc Thanh Toan" IncludeInOutput="true" />
		<Column Id="CachThucNhanHang" CSType="System.String" PropertyName="CachThucNhanHang" FieldName="_cachThucNhanHang" FriendlyName="Cach Thuc Nhan Hang" IncludeInOutput="true" />
		<Column Id="PhiVanChuyen" CSType="System.Decimal?" PropertyName="PhiVanChuyen" FieldName="_phiVanChuyen" FriendlyName="Phi Van Chuyen" IncludeInOutput="true" />
		<Column Id="TongTienDonHang" CSType="System.Decimal?" PropertyName="TongTienDonHang" FieldName="_tongTienDonHang" FriendlyName="Tong Tien Don Hang" IncludeInOutput="true" />
		<Column Id="NgayTaoDonHang" CSType="System.DateTime?" PropertyName="NgayTaoDonHang" FieldName="_ngayTaoDonHang" FriendlyName="Ngay Tao Don Hang" IncludeInOutput="true" />
		<Column Id="MaKhuyenMai" CSType="System.String" PropertyName="MaKhuyenMai" FieldName="_maKhuyenMai" FriendlyName="Ma Khuyen Mai" IncludeInOutput="true" />
		<Column Id="MaVoucher" CSType="System.String" PropertyName="MaVoucher" FieldName="_maVoucher" FriendlyName="Ma Voucher" IncludeInOutput="true" />
		<Column Id="GhiChu" CSType="System.String" PropertyName="GhiChu" FieldName="_ghiChu" FriendlyName="Ghi Chu" IncludeInOutput="true" />
		<Column Id="TienChietKhau" CSType="System.Decimal?" PropertyName="TienChietKhau" FieldName="_tienChietKhau" FriendlyName="Tien Chiet Khau" IncludeInOutput="true" />
		<Column Id="TiLeChietKhau" CSType="System.Double?" PropertyName="TiLeChietKhau" FieldName="_tiLeChietKhau" FriendlyName="Ti Le Chiet Khau" IncludeInOutput="true" />
	</Table>
	<Table Id="tblDonHangChiTiet" EntityName="DonHangChiTiet" Owner="dbo" PropertyName="DonHangChiTiet" FieldName="_donHangChiTiet" FriendlyName="Don Hang Chi Tiet" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="MaDonHang" CSType="System.Int32?" PropertyName="MaDonHang" FieldName="_maDonHang" FriendlyName="Ma Don Hang" IncludeInOutput="true" />
		<Column Id="MaSanPham" CSType="System.Int32?" PropertyName="MaSanPham" FieldName="_maSanPham" FriendlyName="Ma San Pham" IncludeInOutput="true" />
		<Column Id="DonGia" CSType="System.Decimal?" PropertyName="DonGia" FieldName="_donGia" FriendlyName="Don Gia" IncludeInOutput="true" />
		<Column Id="SoLuong" CSType="System.Int32?" PropertyName="SoLuong" FieldName="_soLuong" FriendlyName="So Luong" IncludeInOutput="true" />
		<Column Id="ThanhTien" CSType="System.Decimal?" PropertyName="ThanhTien" FieldName="_thanhTien" FriendlyName="Thanh Tien" IncludeInOutput="true" />
	</Table>
	<Table Id="tblKhachHang" EntityName="KhachHang" Owner="dbo" PropertyName="KhachHang" FieldName="_khachHang" FriendlyName="Khach Hang" IncludeInOutput="true">
		<Column Id="MaKhachHang" CSType="System.Int32" PropertyName="MaKhachHang" FieldName="_maKhachHang" FriendlyName="Ma Khach Hang" IncludeInOutput="true" />
		<Column Id="TenKhachHang" CSType="System.String" PropertyName="TenKhachHang" FieldName="_tenKhachHang" FriendlyName="Ten Khach Hang" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="SoDienThoai" CSType="System.String" PropertyName="SoDienThoai" FieldName="_soDienThoai" FriendlyName="So Dien Thoai" IncludeInOutput="true" />
		<Column Id="DiaChi" CSType="System.String" PropertyName="DiaChi" FieldName="_diaChi" FriendlyName="Dia Chi" IncludeInOutput="true" />
		<Column Id="Tuoi" CSType="System.Int32?" PropertyName="Tuoi" FieldName="_tuoi" FriendlyName="Tuoi" IncludeInOutput="true" />
		<Column Id="GioiTinh" CSType="System.String" PropertyName="GioiTinh" FieldName="_gioiTinh" FriendlyName="Gioi Tinh" IncludeInOutput="true" />
		<Column Id="TinhTrangDa" CSType="System.String" PropertyName="TinhTrangDa" FieldName="_tinhTrangDa" FriendlyName="Tinh Trang Da" IncludeInOutput="true" />
		<Column Id="TayTrangToi" CSType="System.Boolean?" PropertyName="TayTrangToi" FieldName="_tayTrangToi" FriendlyName="Tay Trang Toi" IncludeInOutput="true" />
		<Column Id="RuaMat" CSType="System.Boolean?" PropertyName="RuaMat" FieldName="_ruaMat" FriendlyName="Rua Mat" IncludeInOutput="true" />
		<Column Id="Toner" CSType="System.Boolean?" PropertyName="Toner" FieldName="_toner" FriendlyName="Toner" IncludeInOutput="true" />
		<Column Id="Serum" CSType="System.Boolean?" PropertyName="Serum" FieldName="_serum" FriendlyName="Serum" IncludeInOutput="true" />
		<Column Id="Kem" CSType="System.Boolean?" PropertyName="Kem" FieldName="_kem" FriendlyName="Kem" IncludeInOutput="true" />
		<Column Id="SanPhamKhac" CSType="System.Boolean?" PropertyName="SanPhamKhac" FieldName="_sanPhamKhac" FriendlyName="San Pham Khac" IncludeInOutput="true" />
		<Column Id="LuuY" CSType="System.String" PropertyName="Luuy" FieldName="_luuy" FriendlyName="Luuy" IncludeInOutput="true" />
		<Column Id="ImageLink" CSType="System.String" PropertyName="ImageLink" FieldName="_imageLink" FriendlyName="Image Link" IncludeInOutput="true" />
	</Table>
	<Table Id="tblKhoHangSanPham" EntityName="KhoHangSanPham" Owner="dbo" PropertyName="KhoHangSanPham" FieldName="_khoHangSanPham" FriendlyName="Kho Hang San Pham" IncludeInOutput="true">
		<Column Id="MaSanPham" CSType="System.Int32" PropertyName="MaSanPham" FieldName="_maSanPham" FriendlyName="Ma San Pham" IncludeInOutput="true" />
		<Column Id="TenSanPham" CSType="System.String" PropertyName="TenSanPham" FieldName="_tenSanPham" FriendlyName="Ten San Pham" IncludeInOutput="true" />
		<Column Id="GiaTien" CSType="System.Decimal?" PropertyName="GiaTien" FieldName="_giaTien" FriendlyName="Gia Tien" IncludeInOutput="true" />
		<Column Id="SoLuongNhapVao" CSType="System.Int32?" PropertyName="SoLuongNhapVao" FieldName="_soLuongNhapVao" FriendlyName="So Luong Nhap Vao" IncludeInOutput="true" />
		<Column Id="SoLuongBanRa" CSType="System.Int32?" PropertyName="SoLuongBanRa" FieldName="_soLuongBanRa" FriendlyName="So Luong Ban Ra" IncludeInOutput="true" />
		<Column Id="SoLuongTonKho" CSType="System.Int32?" PropertyName="SoLuongTonKho" FieldName="_soLuongTonKho" FriendlyName="So Luong Ton Kho" IncludeInOutput="true" />
		<Column Id="NgayNhapHang" CSType="System.DateTime?" PropertyName="NgayNhapHang" FieldName="_ngayNhapHang" FriendlyName="Ngay Nhap Hang" IncludeInOutput="true" />
		<Column Id="GhiChu" CSType="System.String" PropertyName="GhiChu" FieldName="_ghiChu" FriendlyName="Ghi Chu" IncludeInOutput="true" />
	</Table>
	<Table Id="tblKhuyenMai" EntityName="KhuyenMai" Owner="dbo" PropertyName="KhuyenMai" FieldName="_khuyenMai" FriendlyName="Khuyen Mai" IncludeInOutput="true">
		<Column Id="MaKhuyenMai" CSType="System.Int32" PropertyName="MaKhuyenMai" FieldName="_maKhuyenMai" FriendlyName="Ma Khuyen Mai" IncludeInOutput="true" />
		<Column Id="MaLoaiKhuyenMai" CSType="System.Int32" PropertyName="MaLoaiKhuyenMai" FieldName="_maLoaiKhuyenMai" FriendlyName="Ma Loai Khuyen Mai" IncludeInOutput="true" />
		<Column Id="TenKhuyenMai" CSType="System.String" PropertyName="TenKhuyenMai" FieldName="_tenKhuyenMai" FriendlyName="Ten Khuyen Mai" IncludeInOutput="true" />
		<Column Id="GiaGiam" CSType="System.Decimal?" PropertyName="GiaGiam" FieldName="_giaGiam" FriendlyName="Gia Giam" IncludeInOutput="true" />
		<Column Id="NgayTaoKhuyenMai" CSType="System.DateTime?" PropertyName="NgayTaoKhuyenMai" FieldName="_ngayTaoKhuyenMai" FriendlyName="Ngay Tao Khuyen Mai" IncludeInOutput="true" />
		<Column Id="NgayBatDauKhuyenMai" CSType="System.DateTime?" PropertyName="NgayBatDauKhuyenMai" FieldName="_ngayBatDauKhuyenMai" FriendlyName="Ngay Bat Dau Khuyen Mai" IncludeInOutput="true" />
		<Column Id="NgayKetThucKhuyenMai" CSType="System.DateTime?" PropertyName="NgayKetThucKhuyenMai" FieldName="_ngayKetThucKhuyenMai" FriendlyName="Ngay Ket Thuc Khuyen Mai" IncludeInOutput="true" />
		<Column Id="Active" CSType="System.Boolean?" PropertyName="Active" FieldName="_active" FriendlyName="Active" IncludeInOutput="true" />
	</Table>
	<Table Id="tblLoaiTrangThaiDonHang" EntityName="LoaiTrangThaiDonHang" Owner="dbo" PropertyName="LoaiTrangThaiDonHang" FieldName="_loaiTrangThaiDonHang" FriendlyName="Loai Trang Thai Don Hang" IncludeInOutput="true">
		<Column Id="MaLoaiTrangThai" CSType="System.Int32" PropertyName="MaLoaiTrangThai" FieldName="_maLoaiTrangThai" FriendlyName="Ma Loai Trang Thai" IncludeInOutput="true" />
		<Column Id="TenLoaiTrangThai" CSType="System.String" PropertyName="TenLoaiTrangThai" FieldName="_tenLoaiTrangThai" FriendlyName="Ten Loai Trang Thai" IncludeInOutput="true" />
	</Table>
	<Table Id="tblNguonDonHang" EntityName="NguonDonHang" Owner="dbo" PropertyName="NguonDonHang" FieldName="_nguonDonHang" FriendlyName="Nguon Don Hang" IncludeInOutput="true">
		<Column Id="MaNguonDonHang" CSType="System.Int32" PropertyName="MaNguonDonHang" FieldName="_maNguonDonHang" FriendlyName="Ma Nguon Don Hang" IncludeInOutput="true" />
		<Column Id="TenNguonDonHang" CSType="System.String" PropertyName="TenNguonDonHang" FieldName="_tenNguonDonHang" FriendlyName="Ten Nguon Don Hang" IncludeInOutput="true" />
	</Table>
	<Table Id="tblPhuongThucThanhToan" EntityName="PhuongThucThanhToan" Owner="dbo" PropertyName="PhuongThucThanhToan" FieldName="_phuongThucThanhToan" FriendlyName="Phuong Thuc Thanh Toan" IncludeInOutput="true">
		<Column Id="MaPhuongThucThanhToan" CSType="System.Int32" PropertyName="MaPhuongThucThanhToan" FieldName="_maPhuongThucThanhToan" FriendlyName="Ma Phuong Thuc Thanh Toan" IncludeInOutput="true" />
		<Column Id="TenPhuongThucThanhToan" CSType="System.String" PropertyName="TenPhuongThucThanhToan" FieldName="_tenPhuongThucThanhToan" FriendlyName="Ten Phuong Thuc Thanh Toan" IncludeInOutput="true" />
	</Table>
	<Table Id="tblTrangThaiDonHang" EntityName="TrangThaiDonHang" Owner="dbo" PropertyName="TrangThaiDonHang" FieldName="_trangThaiDonHang" FriendlyName="Trang Thai Don Hang" IncludeInOutput="true">
		<Column Id="MaTrangThaiDonHang" CSType="System.Int32" PropertyName="MaTrangThaiDonHang" FieldName="_maTrangThaiDonHang" FriendlyName="Ma Trang Thai Don Hang" IncludeInOutput="true" />
		<Column Id="MaLoaiTrangThaiDonHang" CSType="System.Int32" PropertyName="MaLoaiTrangThaiDonHang" FieldName="_maLoaiTrangThaiDonHang" FriendlyName="Ma Loai Trang Thai Don Hang" IncludeInOutput="true" />
		<Column Id="TenLoaiTrangThaiDonHang" CSType="System.String" PropertyName="TenLoaiTrangThaiDonHang" FieldName="_tenLoaiTrangThaiDonHang" FriendlyName="Ten Loai Trang Thai Don Hang" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
